In [3]:
import pandas as pd

In [4]:
ecom=pd.read_csv('Ecommerce Purchases')

In [5]:
# getting the rows which has language as english.
ecom[ecom['Language']=='en'].head(3)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
11,"349 Laurie Parks\nThomasview, ID 08970",30 kK,PM,Mozilla/5.0 (X11; Linux i686; rv:1.9.6.20) Gec...,Kim-Oliver,869975209012056,06/26,9717,JCB 15 digit,johnnymiller@coleman.com,Diagnostic radiographer,128.222.40.234,en,19.26
12,"733 Heather Rest Apt. 670\nBoltonport, UT 78662",69 DO,AM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_3 ...,Moore-Martin,5115990487067905,05/26,119,VISA 16 digit,tholt@hotmail.com,"Surveyor, quantity",236.71.234.240,en,39.65
22,"625 Laura Summit Suite 112\nShortmouth, AK 97156",45 oa,PM,Mozilla/5.0 (Windows 95) AppleWebKit/5342 (KHT...,Burnett Ltd,3158663456056588,07/22,508,Discover,chambersmichael@gmail.com,Retail manager,65.106.61.141,en,33.62

In [6]:
# returning the number of such english language rows.
ecom[ecom['Language']=='en'].count()

Address             1098
Lot                 1098
AM or PM            1098
Browser Info        1098
Company             1098
Credit Card         1098
CC Exp Date         1098
CC Security Code    1098
CC Provider         1098
Email               1098
Job                 1098
IP Address          1098
Language            1098
Purchase Price      1098
dtype: int64

In [7]:
# more convinient way doing the same as above.
len(ecom[ecom['Language']=='en'])

1098

In [8]:
# returning the corresponding number of rows entry for unique row values .
ecom['Job'].value_counts()

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
                                 ..
Prison officer                    7
Editor, film/video                6
Actuary                           6
Information systems manager       5
Investment analyst                5
Name: Job, Length: 623, dtype: int64

In [9]:
# getting the top 5 values for the same as above .
ecom['Job'].value_counts().head(5)

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

In [10]:
# returning purchase price for lot= 90 wt .
ecom[ecom['Lot']=='90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

In [11]:
ecom[ecom['Credit Card']== 4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

In [13]:
ecom[(ecom['CC Provider']=='American Express') & (ecom['Purchase Price']>95)].count()

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

In [14]:
ecom[(ecom['CC Provider']=='American Express') & (ecom['Purchase Price']>95)].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39 entries, 9 to 9856
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           39 non-null     object
 1   Lot               39 non-null     object
 2   AM or PM          39 non-null     object
 3   Browser Info      39 non-null     object
 4   Company           39 non-null     object
 5   Credit Card       39 non-null     int64
 6   CC Exp Date       39 non-null     object
 7   CC Security Code  39 non-null     int64
 8   CC Provider       39 non-null     object
 9   Email             39 non-null     object
 10  Job               39 non-null     object
 11  IP Address        39 non-null     object
 12  Language          39 non-null     object
 13  Purchase Price    39 non-null     float64
dtypes: float64(1), int64(2), object(11)
memory usage: 4.6+ KB

In [18]:
len(ecom[(ecom['CC Provider']=='American Express') & (ecom['Purchase Price']>95)].index)

39

In [19]:
# getting the expiry date of credit card.
ecom['CC Exp Date'].iloc[0]

'02/20'

In [20]:
# getting just the year of expiry of the credit card .
ecom['CC Exp Date'].iloc[0][3:]

'20'

In [22]:
# returning the number of all the rows which ahve expiry year as '25'.
sum(ecom['CC Exp Date'].apply(lambda exp : exp[3:]=='25'))

1033